{% extends "base.html" %}
{% load static %}

{% block css %}
    <style>
        body{
            background-color: black !important;
        }
    </style>
{% endblock css %}


{% block content %}
    <div class="position-absolute ortala d-flex flex-column justify-content-center align-items-center text-white text-center">
      <div class='d-flex gap-3'>
            {% for i in request.user.profile_set.all %}
                <div class="card bg-transparent border-0">
                    <a href="{% url "filmlerPage" i.id %}" >
                        <img src="{{i.image.url}}" width='200' height='200' alt="">
                        <p class='text-white fs-5'>{{i.title}}</p>
                    </a>

                    <form method="POST">
                        {% csrf_token %}
                        <input type="text" name='gizle' value='{{i.id}}' hidden>
                        <input class='btn btn-close bg-danger' type="submit" value='' >
                    </form>
                </div>
            {% endfor %}
      </div>
    
      <a class='btn btn-outline-light' href="{% url "managePage" request.user %}">Profil Yönetimi</a>
    </div>
{% endblock content %}